.component.-video-container {
  margin: 0 auto;

  .video-box {
    position: relative;
    z-index: 1;
    width: 640px;
    height: 480px;
  }

  .options {
    margin-left: 80px;

    & > * {
      margin: 10px 0;
    }
  }

  .component.-facemesh-module {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    //width: 100%;
    //height: 100%;
  }

  .webcam {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    //width: 100%;
    //height: 100%;
  }
}
